* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {

  background-color: white;
  display: flex;
}

.logo {
  display: flex;
  padding-left: 15%;
  padding-top: 3%;
  box-sizing: border-box;
}

.logo-text {
  display: none;
  color: green;
}

nav {
  margin: auto;
  padding-top: 3%;
}

.topnav {
  font-size: 20px;
  background-color: white;
}

.topnav a {
  color: green;
  text-align: center;
  padding: 14px 18px;
  transition-property: all;
  transition-timing-function: ease-out;
}

.topnav a:hover {
  border-bottom: 2px solid green;
}

.active {
  border-bottom: 2px solid green;
}

.topnav .icon {
  display: none;
}

main {
  padding-top: 6%;
}

.transition-fade {
  transition: 0.5s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.glav img {
  /* max-width: 400px;
  height: auto; */
}

.glav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text-title {
  font-size: 25px;
  padding-right: 14px;
  padding-left: 4%;
  color: #59A857;
}

.mw-100 {
  max-width: 100%;
}
.img_center{
width: 400px;
}

a.button-1 {
  justify-content: center;
  position: relative;
  display: inline-block;
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: whitesmoke;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  user-select: none;
  padding: 0.3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
  box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}

a.button-1:hover {
  color: rgba(255, 255, 255, 0.9);
  background: #148214;
}

a.button-1:active {
  background: #006e00;
  box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.8), inset rgba(0, 0, 0, 0.3) -5px -5px 8px 5px, inset rgba(255, 255, 255, 0.5) 5px 5px 8px 5px, 1px 1px 1px rgba(255, 255, 255, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.5);
}
.button-2{
	width: 90px;
	margin: 0 auto;
	padding: 40px 0px 0px 0px;
}

.modal_content {
  margin: 0 auto;
  width: 100%;
  display: none;
}

#modal {
  display: none;
}

#modal:checked ~ .modal_content {
  display: block;
}

footer {
  width: 100%;
  height: auto;
  background: #59A857;
  margin-top: 120px;
  text-align: center;
}

footer a {
  color: white;
  font-size: 14px;
  margin-right: 15px;
  text-align: center;
}

footer nav {
  text-align: center;
  /* padding-left: 20px; */
}

footer nav a:hover {
  border-bottom: 1px solid white;
}

.social img {
  margin-top: 1px;
  position: relative;
  align-items: center;
}

h1 {
  color: green;
  margin-left: 130px;
}

.wrapper {
  padding-top: 10px;
  padding-bottom: 40px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

}

.block_shop img {
  max-width: 210px;
  height: auto;
  position: relative;
  text-align: center;
}

.block_shop {
  width: 220px;
  position: relative;
}

.wrapper .block_shop {
  margin: 15px;
  border: 3px solid gray;
}

.wrapper .block_shop:hover {
  border: 3px solid green;
  transition-property: all;
  transition-timing-function: ease-out;
  transition-delay: 0.2s;
}

.block_shop h5 {
  padding: 10px;
}

.block_shop h3 {
  padding: 5px;
}

.block_shop p {
  color: black;
  padding: 5px;
  font-size: 17px;
}

/* .button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  left: 25px;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid gray;
  color: black;
  transition: 0.4s;
} */
.button-product {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  height: 50px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin: 10px 0 10px 0;
}
.button-product:hover,.form button:active,.form button:focus {
  background: #43A047;
}

/* .button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid gray;
  transition: 0.4s;
}

.container .button:hover:after {
  border-color: green;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

.button:hover {
  box-shadow: 0 0 10px 0 green inset, 0 0 10px 4px green;
  color: green;
} */

hr {
  /* height: 2px; */
  color: gray;
}

.text_about p {
  font-size: 14px;
  padding: 10px;
}

.text_about img {
  max-width: 360px;
  height: auto;
  text-align: center;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrap .text_about {
  padding: 10px 45px;
  font-size: 20px;
  color: gray;
  max-width: 600px;
}
}

.block_otvet h3 {
  color: #66cc33;
  margin-bottom: 20px;
}

p {
  color: gray;
}

.block_otvet {
  margin-top: 30px;
  font-size: 20px;
  color: gray;
  max-width: 1400px;
}
h3{
  color: #66cc33;
  margin-bottom: 20px;
}

.wrapy {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.form {
  width: 600px;
  position: relative;
}

.main-kontact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feedback-input {
  color: #000;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  background-color: #fff;
  padding: 13px;
  margin-bottom: 10px;
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 solid transparent;
  border-bottom: 1px solid green;
}

textarea {
  width: 40%;
  height: 100px;
  resize: vertical;
}

.button-submit {
  float: left;
  width: 70%;
  border: 0 solid transparent;
  cursor: pointer;
  background-color: green;
  color: white;
  font-size: 18px;
  padding-top: 22px;
  padding-bottom: 22px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 300;
}

.button-submit:hover {
  background-color: gray;
  color: white;
  border: 1px solid green;
}

.ease {
  width: 0;
  height: 74px;
  background-color: #fbfbfb;
  transition: 0.3s ease;
}

.items h2 {
  margin: 50px;
  color: green;
}

.form-field {
  color: #000;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  background-color: #fff;
  padding: 13px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 solid transparent;
  border-bottom: 1px solid green;
}

.buy-form {
  justify-content: center;
}

.button-form {
  float: left;
  width: 100%;
  border: 0 solid transparent;
  cursor: pointer;
  background-color: green;
  color: white;
  font-size: 14px;
  padding-top: 22px;
  padding-bottom: 22px;
  transition: all 0.5s;
  margin-top: -4px;
  font-weight: 200;
}

.eas {
  width: 0;
  height: 74px;
  background-color: #fbfbfb;
  transition: 0.3s ease;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
.modal .modal-content {
  padding: 24px;
}
.modal .modal-content .product_elem {
  float: right;
}
.modal .modal-content .img-responsive,
.modal .modal-content .product_elem {
  width: 50%;
}
.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  text-align: right;
}
.modal .modal-footer .btn-flat {
  margin: 6px 0;
}
.modal .feedback {
  margin-top: 20px;
}
.modal .product_name {
  font-size: 26px;
}
.modal .modal-close {
  cursor: pointer;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;
  outline: 0;
}

.btn-flat {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.modal-overlay, .sidenav-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity;
  transition: 0.5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1003;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: green;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 80%;
  }

  .modal .modal-content .product_elem {
    float: none;
  }

  .modal .modal-content .img-responsive,
  .modal .modal-content .product_elem {
    width: auto;
  }
}
@media screen and (max-width: 955px) {
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    color: black;
  }

  nav {
    width: 100%;
    text-align: center;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  footer{
    max-width: 955px;
  }
 .form{
   width: 600px;
   margin: 0 auto;
 }

}
@media only screen and (max-width: 600px){
  .text_about p{
    padding: 0;
  }

  h1{
    font-size: 24px;
    margin-left: 50px;
  }

  .logo-img {
    display: none;
  }

  .logo-text {
    display: block;
    font-size: 30px;
  }

  header {
    align-items: center;
  }
}
@media only screen and (max-width: 1100px){
  .wrapper{
    padding-left: 5%;
  }

}

@media only screen and (max-width: 1039px){
  .contacts-adress {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 640px){
.contacts-form .btn {
  min-width: 120px;
  padding: 4%;
}
}



.contacts {
  padding-bottom: 60px;
}

.container4{
  color:black;
  height: 479px;
  margin: 0 auto;
  padding: 0 30px;

display: flex;
flex-wrap: wrap;
justify-content: center;
}
h1.page-title {
  color: green;
  font-size: 32px;
  margin-left: 0.75rem;
}

.contacts-form {
  width: 640px;
 height: 360px;
}

.contacts-form td {
  padding-bottom: 10px;
}

.contacts-form .title {
  width: 90px;
  padding-right: 20px;
  vertical-align: top;
  text-align: right;
  font-weight: 700;
  font-size: 18px;
  line-height: 54px;
  color: #66cc33;
}

.contacts-form .field {
  width: 470px;
}

.contacts-form input[type="text"],
.contacts-form input[type="email"],
.contacts-form textarea {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px 23px;
  font-weight: 400;
  font-size: 18px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  outline: none;
  border: 2px solid #b2b2b2;
  border-radius: 2px;
}

.contacts-form input[type="text"]:hover,
.contacts-form input[type="email"]:hover,
.contacts-form textarea:hover {
  border: 2px solid #7f7f7f;
}

.contacts-form input[type="text"]:focus,
.contacts-form input[type="email"]:focus,
.contacts-form textarea:focus {
  border: 2px solid #00b770;
}

.is-invalid {
  border: 2px solid #df4819 !important;
}

.is-invalid__label {
  color: #df4819 !important;
}

.contacts-form textarea {
  min-height: 105px;
  resize: none;
}

.contacts-form .btn {
  background-color:green;
  /* width: 470px; */
  border-radius: 3px;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    line-height: 24px;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: none;
}
.contacts-adress {

  width: 300px;
}

.contacts-adress h3 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 24px;
}

.contacts-adress p {
  margin: 0;
  margin-bottom: 25px;
  color: #404040;
  font-size: 18px;
  line-height: 24px;
}

.contacts-adress .contacts-alert {
  margin-top: 42px;
}

.contacts-adress .contacts-alert {
  margin-bottom: 0;
}

.contacts-alert strong {
  color: #000000;
}

.product-image {
  align-items: center;
  width: 50%;
}

.collapsible-body {
  padding-top: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 10px inset;
  background: rgba(0, 0, 0, 0.01) none repeat scroll 0% 0%;
  border-radius: 10px;
}

.collapsible {
  margin-top: 20px;
}

.form-selection select, .sorting select, .button-filter {
  -webkit-appearance: none;
  background-image: url(../../img/select-arrow.png);
  background-color: #eeeeee;
  background-position: 95% center;
  background-repeat: no-repeat;
}

.reset {
  background-image: none;
}

.form-selection select, .sorting select, .button-filter {
    width: 100%;
    height: 45px;
    margin-bottom: 8px;
    padding-left: 15px;
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.button-filter {
  padding-left: 0px;
}

.form-selection .input-b .label {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #2a2a2a;
    position: relative;
}

.form-selection .input-b {
  margin-bottom: 35px;
}

.modal section.product .product_name {
  font-size: 25px;
  color: green;
}

.modal section.product .description div, section.product .description div {
  margin: 5px 0 0 0;
}


section.product .product-image img {
  border: 1px solid #e6e6e6;
  height: auto;
  width: 100%;
}

section.product {
  margin-top: 40px;
}

section.product .product_name {
  font-size: 35px;
  color: green;
}

section.product .vendor_code {
  font-size: 15px;
  margin-top: 8px;
  color: #59A857;
}

section.product .product_price {
  font-size: 20px;
  margin-top: 35px;
  color: #4d4d4d;
}

section.product .product-feature {
  padding-left: 30px;
  width: 50%;
}

section.product .title-about {
  text-transform: uppercase;
  font-size: 17px;
  margin-top: 40px;
}

section.product .button-product {
  margin-top: 30px;
}

section.product .description {
  margin-top: 20px;
}

section.product .product_about {
  padding-left: 30px;
}

.product-item {
  position: relative;
}

.product-item_hover {
  position: absolute;
  z-index: 5;
  width: 90%;
  height: 100%;
}

.view-btn, .buy-btn {
  display: block;
  line-height: 80px;
  background-color: rgba(90, 168, 88, 0.7);
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-top: 50px;
  border-radius: 10px;
}

.product-item_description {
  font-size: 13px;
  margin-top: 10px;
}

.product-item_price h5 {
  font-size: 14px;
}

.sorting .sort-item {
  margin: 0 10px;
}

.sorting .queue-sort {
  font-size: 24px;
  margin-top: 10px;
  color: #008000;
}

@media only screen and (min-width: 601px) {
  .product-time_btn {
    display: none;
  }

}


@media only screen and (max-width: 999px) {
  .contacts {
    padding-bottom: 200px;
  }
}



.form__group, .form__field {
    position: relative;
}

.form__label {
    color: #6f6f6f;
    font-size: 14px;
}
.form__control {
  position: relative;
  display: block;
  background: #fff;
  border-radius: 0;
  border: none;
  width: 100%;
  outline: 0;
  padding: 19px 30px 20px;
  margin-top: 7px;
  caret-color: green;
}

.form__control {
  background: #eeeeee;
}

.form__group:not(.form__group_hide)+.form__group {
    margin-top: 20px;
}

.contact__item {
    padding-top: 26px;
}

.contact__label {
    color: green;
    padding-bottom: 8px;
}

.contact__label, .write__label {
    letter-spacing: .1em;
    text-transform: uppercase;
}

.write__label {
    padding-bottom: 44px;
}

.write {
    padding-top: 66px;
}

.contact__value a {
  color: #4ea252;
  text-decoration: underline;
}

.contacts, .map {
  height: 600px;
}

.contacts {
  overflow-y: scroll;
}

@media only screen and (max-width: 601px) {
  .contacts {
    height: auto;
    overflow-y: auto;
  }
  .map {
    height: 400px;
  }
}

.success-modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 0;
  width: 155px;
  margin: auto;
  border-radius: 2px;
  will-change: top, opacity;
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.circle-loader {
 margin: 20px;
 border: 1px solid rgba(0, 0, 0, 0.2);
 border-left-color: #5cb85c;
 animation: loader-spin 1.2s infinite linear;
 position: relative;
 display: inline-block;
 vertical-align: top;
 border-radius: 50%;
 width: 7em;
 height: 7em;
}
 .load-complete {
	 -webkit-animation: none;
	 animation: none;
	 border-color: #5cb85c;
	 transition: border 500ms ease-out;
}
 .checkmark {
	 display: none;
}
 .checkmark.draw:after {
	 animation-duration: 800ms;
	 animation-timing-function: ease;
	 animation-name: checkmark;
	 transform: scaleX(-1) rotate(135deg);
}
 .checkmark:after {
	 opacity: 1;
	 height: 3.5em;
	 width: 1.75em;
	 transform-origin: left top;
	 border-right: 3px solid #5cb85c;
	 border-top: 3px solid #5cb85c;
	 content: '';
	 left: 1.75em;
	 top: 3.5em;
	 position: absolute;
}
 @keyframes loader-spin {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(360deg);
	}
}
 @keyframes checkmark {
	 0% {
		 height: 0;
		 width: 0;
		 opacity: 1;
	}
	 20% {
		 height: 0;
		 width: 1.75em;
		 opacity: 1;
	}
	 40% {
		 height: 3.5em;
		 width: 1.75em;
		 opacity: 1;
	}
	 100% {
		 height: 3.5em;
		 width: 1.75em;
		 opacity: 1;
	}
}







.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
}

.row .col[class*="push-"], .row .col[class*="pull-"] {
  position: relative;
}


.row .col.s1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.offset-s1 {
  margin-left: 8.3333333333%;
}

.row .col.pull-s1 {
  right: 8.3333333333%;
}

.row .col.push-s1 {
  left: 8.3333333333%;
}

.row .col.offset-s2 {
  margin-left: 16.6666666667%;
}

.row .col.pull-s2 {
  right: 16.6666666667%;
}

.row .col.push-s2 {
  left: 16.6666666667%;
}

.row .col.offset-s3 {
  margin-left: 25%;
}

.row .col.pull-s3 {
  right: 25%;
}

.row .col.push-s3 {
  left: 25%;
}

.row .col.offset-s4 {
  margin-left: 33.3333333333%;
}

.row .col.pull-s4 {
  right: 33.3333333333%;
}

.row .col.push-s4 {
  left: 33.3333333333%;
}

.row .col.offset-s5 {
  margin-left: 41.6666666667%;
}

.row .col.pull-s5 {
  right: 41.6666666667%;
}

.row .col.push-s5 {
  left: 41.6666666667%;
}

.row .col.offset-s6 {
  margin-left: 50%;
}

.row .col.pull-s6 {
  right: 50%;
}

.row .col.push-s6 {
  left: 50%;
}

.row .col.offset-s7 {
  margin-left: 58.3333333333%;
}

.row .col.pull-s7 {
  right: 58.3333333333%;
}

.row .col.push-s7 {
  left: 58.3333333333%;
}

.row .col.offset-s8 {
  margin-left: 66.6666666667%;
}

.row .col.pull-s8 {
  right: 66.6666666667%;
}

.row .col.push-s8 {
  left: 66.6666666667%;
}

.row .col.offset-s9 {
  margin-left: 75%;
}

.row .col.pull-s9 {
  right: 75%;
}

.row .col.push-s9 {
  left: 75%;
}

.row .col.offset-s10 {
  margin-left: 83.3333333333%;
}

.row .col.pull-s10 {
  right: 83.3333333333%;
}

.row .col.push-s10 {
  left: 83.3333333333%;
}

.row .col.offset-s11 {
  margin-left: 91.6666666667%;
}

.row .col.pull-s11 {
  right: 91.6666666667%;
}

.row .col.push-s11 {
  left: 91.6666666667%;
}

.row .col.offset-s12 {
  margin-left: 100%;
}

.row .col.pull-s12 {
  right: 100%;
}

.row .col.push-s12 {
  left: 100%;
}

@media only screen and (min-width: 601px) {
  .row .col.m1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.offset-m1 {
    margin-left: 8.3333333333%;
  }
  .row .col.pull-m1 {
    right: 8.3333333333%;
  }
  .row .col.push-m1 {
    left: 8.3333333333%;
  }
  .row .col.offset-m2 {
    margin-left: 16.6666666667%;
  }
  .row .col.pull-m2 {
    right: 16.6666666667%;
  }
  .row .col.push-m2 {
    left: 16.6666666667%;
  }
  .row .col.offset-m3 {
    margin-left: 25%;
  }
  .row .col.pull-m3 {
    right: 25%;
  }
  .row .col.push-m3 {
    left: 25%;
  }
  .row .col.offset-m4 {
    margin-left: 33.3333333333%;
  }
  .row .col.pull-m4 {
    right: 33.3333333333%;
  }
  .row .col.push-m4 {
    left: 33.3333333333%;
  }
  .row .col.offset-m5 {
    margin-left: 41.6666666667%;
  }
  .row .col.pull-m5 {
    right: 41.6666666667%;
  }
  .row .col.push-m5 {
    left: 41.6666666667%;
  }
  .row .col.offset-m6 {
    margin-left: 50%;
  }
  .row .col.pull-m6 {
    right: 50%;
  }
  .row .col.push-m6 {
    left: 50%;
  }
  .row .col.offset-m7 {
    margin-left: 58.3333333333%;
  }
  .row .col.pull-m7 {
    right: 58.3333333333%;
  }
  .row .col.push-m7 {
    left: 58.3333333333%;
  }
  .row .col.offset-m8 {
    margin-left: 66.6666666667%;
  }
  .row .col.pull-m8 {
    right: 66.6666666667%;
  }
  .row .col.push-m8 {
    left: 66.6666666667%;
  }
  .row .col.offset-m9 {
    margin-left: 75%;
  }
  .row .col.pull-m9 {
    right: 75%;
  }
  .row .col.push-m9 {
    left: 75%;
  }
  .row .col.offset-m10 {
    margin-left: 83.3333333333%;
  }
  .row .col.pull-m10 {
    right: 83.3333333333%;
  }
  .row .col.push-m10 {
    left: 83.3333333333%;
  }
  .row .col.offset-m11 {
    margin-left: 91.6666666667%;
  }
  .row .col.pull-m11 {
    right: 91.6666666667%;
  }
  .row .col.push-m11 {
    left: 91.6666666667%;
  }
  .row .col.offset-m12 {
    margin-left: 100%;
  }
  .row .col.pull-m12 {
    right: 100%;
  }
  .row .col.push-m12 {
    left: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.offset-l1 {
    margin-left: 8.3333333333%;
  }
  .row .col.pull-l1 {
    right: 8.3333333333%;
  }
  .row .col.push-l1 {
    left: 8.3333333333%;
  }
  .row .col.offset-l2 {
    margin-left: 16.6666666667%;
  }
  .row .col.pull-l2 {
    right: 16.6666666667%;
  }
  .row .col.push-l2 {
    left: 16.6666666667%;
  }
  .row .col.offset-l3 {
    margin-left: 25%;
  }
  .row .col.pull-l3 {
    right: 25%;
  }
  .row .col.push-l3 {
    left: 25%;
  }
  .row .col.offset-l4 {
    margin-left: 33.3333333333%;
  }
  .row .col.pull-l4 {
    right: 33.3333333333%;
  }
  .row .col.push-l4 {
    left: 33.3333333333%;
  }
  .row .col.offset-l5 {
    margin-left: 41.6666666667%;
  }
  .row .col.pull-l5 {
    right: 41.6666666667%;
  }
  .row .col.push-l5 {
    left: 41.6666666667%;
  }
  .row .col.offset-l6 {
    margin-left: 50%;
  }
  .row .col.pull-l6 {
    right: 50%;
  }
  .row .col.push-l6 {
    left: 50%;
  }
  .row .col.offset-l7 {
    margin-left: 58.3333333333%;
  }
  .row .col.pull-l7 {
    right: 58.3333333333%;
  }
  .row .col.push-l7 {
    left: 58.3333333333%;
  }
  .row .col.offset-l8 {
    margin-left: 66.6666666667%;
  }
  .row .col.pull-l8 {
    right: 66.6666666667%;
  }
  .row .col.push-l8 {
    left: 66.6666666667%;
  }
  .row .col.offset-l9 {
    margin-left: 75%;
  }
  .row .col.pull-l9 {
    right: 75%;
  }
  .row .col.push-l9 {
    left: 75%;
  }
  .row .col.offset-l10 {
    margin-left: 83.3333333333%;
  }
  .row .col.pull-l10 {
    right: 83.3333333333%;
  }
  .row .col.push-l10 {
    left: 83.3333333333%;
  }
  .row .col.offset-l11 {
    margin-left: 91.6666666667%;
  }
  .row .col.pull-l11 {
    right: 91.6666666667%;
  }
  .row .col.push-l11 {
    left: 91.6666666667%;
  }
  .row .col.offset-l12 {
    margin-left: 100%;
  }
  .row .col.pull-l12 {
    right: 100%;
  }
  .row .col.push-l12 {
    left: 100%;
  }
}

 @media only screen and (min-width: 1447px) { /* !changed */
  .row .col.xl1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.offset-xl1 {
    margin-left: 8.3333333333%;
  }
  .row .col.pull-xl1 {
    right: 8.3333333333%;
  }
  .row .col.push-xl1 {
    left: 8.3333333333%;
  }
  .row .col.offset-xl2 {
    margin-left: 16.6666666667%;
  }
  .row .col.pull-xl2 {
    right: 16.6666666667%;
  }
  .row .col.push-xl2 {
    left: 16.6666666667%;
  }
  .row .col.offset-xl3 {
    margin-left: 25%;
  }
  .row .col.pull-xl3 {
    right: 25%;
  }
  .row .col.push-xl3 {
    left: 25%;
  }
  .row .col.offset-xl4 {
    margin-left: 33.3333333333%;
  }
  .row .col.pull-xl4 {
    right: 33.3333333333%;
  }
  .row .col.push-xl4 {
    left: 33.3333333333%;
  }
  .row .col.offset-xl5 {
    margin-left: 41.6666666667%;
  }
  .row .col.pull-xl5 {
    right: 41.6666666667%;
  }
  .row .col.push-xl5 {
    left: 41.6666666667%;
  }
  .row .col.offset-xl6 {
    margin-left: 50%;
  }
  .row .col.pull-xl6 {
    right: 50%;
  }
  .row .col.push-xl6 {
    left: 50%;
  }
  .row .col.offset-xl7 {
    margin-left: 58.3333333333%;
  }
  .row .col.pull-xl7 {
    right: 58.3333333333%;
  }
  .row .col.push-xl7 {
    left: 58.3333333333%;
  }
  .row .col.offset-xl8 {
    margin-left: 66.6666666667%;
  }
  .row .col.pull-xl8 {
    right: 66.6666666667%;
  }
  .row .col.push-xl8 {
    left: 66.6666666667%;
  }
  .row .col.offset-xl9 {
    margin-left: 75%;
  }
  .row .col.pull-xl9 {
    right: 75%;
  }
  .row .col.push-xl9 {
    left: 75%;
  }
  .row .col.offset-xl10 {
    margin-left: 83.3333333333%;
  }
  .row .col.pull-xl10 {
    right: 83.3333333333%;
  }
  .row .col.push-xl10 {
    left: 83.3333333333%;
  }
  .row .col.offset-xl11 {
    margin-left: 91.6666666667%;
  }
  .row .col.pull-xl11 {
    right: 91.6666666667%;
  }
  .row .col.push-xl11 {
    left: 91.6666666667%;
  }
  .row .col.offset-xl12 {
    margin-left: 100%;
  }
  .row .col.pull-xl12 {
    right: 100%;
  }
  .row .col.push-xl12 {
    left: 100%;
  }
}
